.CTA h2 {
    margin: 15%;
    width: 500px;
    font-size: 2.7rem;
}

.content-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
}

.linkedin a:hover {
    color: #0077b5;
}

.instagram a:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    color: transparent;
}

.link-contact a:hover {
    color: #4fce6d;
}

.btn-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #000e56;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.7);
    animation: buttons 4s infinite;
}

.btn-cta:hover {
    background-color: #001caa;
}

.btn-cta a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.container-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
}

.list-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;
    font-size: 1.4rem;

}

.list-contact a {
    text-decoration: none;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);

}

.list-contact a:hover {
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

@keyframes buttons {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);

    }
}

@media (width <=375px) {
    .CTA h2 {
        margin: 13% auto;
        width: 350px;
        font-size: 1.2rem;
    }

    .content-cta {
        display: flex;
        flex-direction: column;
    }

    .btn-cta a {
        margin: 0 auto;
        font-size: 0.9rem;
        padding: 5px;
    }

    .list-contact {
        gap: 2px;
        font-size: 1.2rem;
        margin: 10% auto;
    }

    .list-contact a:last-child {
        margin-left: 10px;
    }

}

@media (width <=428px) {
    .CTA h2 {
        margin: 13% auto;
        width: 350px;
        font-size: 1.5rem;
    }

    .content-cta {
        display: flex;
        flex-direction: column;
    }

    .btn-cta a {
        margin: 0 auto;
        font-size: 0.9rem;
        padding: 5px;
    }

    .list-contact {
        gap: 2px;
        font-size: 1.3rem;
        margin: 10% auto;
    }

    .list-contact a:last-child {
        margin-left: 10px;
    }

}