.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #D3D3D3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.main a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.main a:last-child {
    margin-left: 15px;
}

#link-about:hover,
#link-projects:hover {
    color: var(--primary-color3);
}


@media (width <=375px) {
    .main h1 {
        font-size: 1rem;
    }

    .main a {
        font-size: 0.9rem;
    }
}

@media (width <=428px) {
    .main h1 {
        font-size: 1.2rem;
    }

    .main a {
        font-size: 1rem;
    }
}