@import url('header.css');
@import url('cta.css');
@import url('projects.css');
@import url('contact-me.css');
@import url('about-me.css');
@import url('footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.linkedin a:hover {
    color: #0077b5;
}

.instagram a:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    color: transparent;
}

.link-contact a:hover {
    color: #4fce6d;
}